<div class="landing-container">
    <section>
        <div class="blog-container">
            <div class="img-landing">
                <img src="https://writer.ancorathemes.com/splash/src/img/hero/1.jpg" alt="">
            </div>
            <div class="blog-headeing">
                <p>
                    Get Your Book Ready With Our
                </p>
                <h1>
                    A Blog for Writers and Journalists
                </h1>

            </div>
            <div class="img-landing">
                <img src="https://writer.ancorathemes.com/splash/src/img/hero/4.jpg" alt="">
            </div>
        </div>

        <div class="blog-imgs">
            <div class="blog-img-container">
                <img class="image1"  src="https://writer.ancorathemes.com/splash/src/img/hero/2.jpg" alt="">
                <img class="image2"  src="https://writer.ancorathemes.com/splash/src/img/hero/3.jpg" alt="">
                <img class="image3"  src="https://writer.ancorathemes.com/splash/src/img/hero/5.jpg" alt="">
            </div>

        </div>
    </section>
</div>
<div class="about">
  <app-about>

  </app-about>
</div>

<div class="categories">

  <app-user-categories>

  </app-user-categories>
</div>
<div class="book-slider">
  <swiper-container speed="500" loop="true" css-mode="true" navigation="true" slides-per-view="3">
    <swiper-slide>
      <img width="100%" height="100%" src="http://www.austinchronicle.com/binary/a47a/bookpeople.jpg" alt="">
      <button class="btn btn btn-primary visit-btn"> Visit US</button>
    </swiper-slide>
    <swiper-slide>
      <img width="100%" height="100%" src="https://shoppiko.com/image/BUSINESS/new-images/Book.jpg" alt="">
      <button class="btn btn btn-primary visit-btn"> Visit US</button>
    </swiper-slide>
    <swiper-slide>
      <img width="100%" height="100%" src="https://s7d2.scene7.com/is/image/TWCNews/parthenon-books-2_07152022" alt="">
      <button class="btn btn btn-primary visit-btn"> Visit US</button>
    </swiper-slide>

  </swiper-container>
</div>
<div class="Authors">
  <app-user-authors>

  </app-user-authors>
</div>

<div class="icons-slider">
  <swiper-container speed="500" loop="true" css-mode="true" navigation="true" slides-per-view="3">
    <swiper-slide class="icn-font icon-img ">
      <img src="https://img.icons8.com/?size=100&id=HdVwAfpoZTbQ&format=png&color=000000" alt="">
      <a class="btn"> Universal Access</a>
    </swiper-slide>
    <swiper-slide class="icon-img">
      <img  src="https://img.icons8.com/?size=100&id=aJCBiJDxTi0E&format=png&color=000000" alt="" >
      <a class="btn"> Best Sales</a>
    </swiper-slide>
    <swiper-slide  class="icon-img">
      <img  src="https://img.icons8.com/?size=100&id=ytYtK65QNJyO&format=png&color=000000" alt="">
      <a class="btn"> Comming Soon</a>
    </swiper-slide>
    <swiper-slide  class="icon-img">
      <img  src="https://img.icons8.com/?size=100&id=338&format=png&color=000000" alt="">
      <a class="btn"> Gift Cards</a>
    </swiper-slide>
    <swiper-slide  class="icon-img">
      <img  src="https://img.icons8.com/?size=100&id=12023&format=png&color=000000" alt="">
      <a class="btn">New Releases</a>
    </swiper-slide>
    <swiper-slide  class="icon-img">
      <img  src="https://img.icons8.com/?size=100&id=2795&format=png&color=000000" alt="">
      <a class="btn">Audio Books</a>
    </swiper-slide>

    <swiper-slide  class="icon-img">
      <img  src="https://img.icons8.com/?size=100&id=6994&format=png&color=000000" alt="">
      <a class="btn ">Signed Books</a>
    </swiper-slide>

    <swiper-slide  class="icon-img">
      <img  src="https://img.icons8.com/?size=100&id=3PcWJisiq9Dg&format=png&color=000000" alt="">
      <a class="btn">Coupons</a>
    </swiper-slide>
  </swiper-container>
</div>
<div class="footer">
  <app-footer>

  </app-footer>
</div>
