<div class="container footer-container">
  <footer class="py-5">
    <div class="row">
      <div class="col-12 col-md-6 mb-4">
        <h5>Our Info</h5>
        <div class="navbar-nav ms-auto">
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a class="nav-link active p-0 text-muted" aria-current="page" routerLink="">Home</a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link p-0 text-muted" routerLink="about">About</a>
            </li>
            <li class="nav-item mb-2" *ngIf="isAdmin">
              <a class="nav-link p-0 text-muted" routerLink="admin">Admin</a>
            </li>
            <li class="nav-item mb-2" *ngIf="isAdmin">
              <a class="nav-link p-0 text-muted" routerLink="Users">Users</a>
            </li>
            <li class="nav-item mb-2" *ngIf="!isAdmin">
              <a class="nav-link p-0 text-muted" routerLink="userCategories">Categories</a>
            </li>
            <li class="nav-item mb-2" *ngIf="!isAdmin">
              <a class="nav-link p-0 text-muted" routerLink="userAuthors">Authors</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-12 col-md-4 offset-md-1 mb-4">
        <form>
          <h5>Subscribe to our newsletter</h5>
          <p>Monthly digest of what's new and exciting from us.</p>
          <div class="d-flex w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address" />
            <button class="btn btn-warning" type="button">Subscribe</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center py-4 my-4 border-top footer">
      <p>&copy; 2021 Company, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex ul-hover">
        <li class="ms-3">
          <a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter" /></svg></a>
        </li>
        <li class="ms-3">
          <a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram" /></svg></a>
        </li>
        <li class="ms-3">
          <a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook" /></svg></a>
        </li>
      </ul>
    </div>
  </footer>
</div>
