* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bookDetails {
  width: 90%;
  margin: 3rem auto;
  margin-top: 9rem;
}

.parentBookTop {
  width: 88%;
  margin: 2rem auto;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 1rem;
}

.bookLeft {
  width: 50%;
}

.bookLeft .parentImage {
  width: 100%;
  height: 300px;
  margin-bottom: 1rem;
}

.bookLeft .parentImage img {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 10px;
}

.select {
  width: 50%;
  font-size: 1.3rem;
  border-radius: 20px;
  padding: 3px 10px;
  outline: none;
  margin-bottom: 1rem;
}

.select option {
  font-size: 1.3rem;
  border-radius: 20px;
  padding: 3px 10px;
  border: 1px solid rgb(255, 174, 0);
  outline: none;
  margin-bottom: 1rem;
}

.select:focus {
  border: 1px solid rgb(213, 229, 33);
}

option:active {
  border: 1px solid rgb(213, 229, 33);
  background-color: goldenrod;
  color: rgb(228, 14, 14);
}

.starts {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.starts span {
  display: inline-block;
  color: gold;
  width: 1.1em;
  font-size: larger;
}

.parentBookRight {
  margin-top: 1.5rem;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.parentBookRight p {
  width: 80%;
  line-height: 1.7rem;
}

.parentDown {
  width: 88%;
  margin: auto;
  border: 1px solid #ccc;
  padding: 1rem;
  position: relative;
  border-radius: 10px;
}

.parentDown h4 {
  position: absolute;
  top: -18px;
  left: 60px;
  background-color: white;
  width: 150px;
  text-align: center;
}

.reviews {
  height: 400px;
  overflow-y: auto;
}

.parentDown p {
  margin: 1.6rem auto;
  box-shadow: 0 10px 10px 0 #00000093;
  border-radius: 10px;
  padding: 10px;
  width: 70%;
}

@media (max-width: 600px) {
  .parentBookTop {
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    padding: 0;
  }

  .bookLeft,
  .parentBookRight {
    width: 100%;
  }

  .select {
    width: 80%;
    font-size: 1rem;
  }

  .starts {
    width: 80%;
  }

  .parentDown p {
    width: 90%;
  }
  .bookLeft .parentImage img {
    width: 100%;
  }
  .parentBookRight p {
    width: 100%;
    line-height: 1.7rem;
  }
  .parentDown {
    width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .parentBookTop {
    flex-direction: column;
  }

  .bookLeft,
  .parentBookRight {
    width: 90%;
  }

  .select {
    width: 70%;
  }

  .starts {
    width: 70%;
  }

  .parentDown p {
    width: 80%;
  }
}

@media (min-width: 901px) and (max-width: 1440px) {
  .parentBookTop {
    flex-direction: row;
    justify-content: space-between;
  }

  .bookLeft,
  .parentBookRight {
    width: 45%;
  }

  .select {
    width: 60%;
  }

  .starts {
    width: 60%;
  }

  .parentDown p {
    width: 75%;
  }
}
